<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tweet Page</h1>

    <p>Please fill out the form and submit to create a new tweet!</p>

    <form action="/tweet/create" method="POST">

        <label>tweet:</label>
        <input type="text" name="tweet" placeholder="Tweet XYZ" value="Tweet XYZ">

        <label>name:</label>
        <select name="name">
          <option value="Jeff" >user_1</option>
          <option value="Elon">user_2</option>
        </select>

        <button>Submit</button>
    </form>
    
</body>
</html>